label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

#viewer-nav {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
}