html {
  font: 1rem 'Fira Sans', sans-serif;
}

body {
  margin: 8px;
  color: rgb(5, 4, 28)
}

.modal {
  display: none;
  bottom: unset;
}

#page-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
}

form img {
  height: 64px;
  order: 1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #7F9CCB;
  border: 1px ridge black;
}

select:hover {
  background-color: #2D5BA3;
  color: white;
}

select:active {
  background-color: #0D3F8F;
  color: white;
}

#user-select {
  width: 127px;
}

.live-count-editor {
  background-color: #acacac;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  color: black;
  height: auto;
}

form label:hover, form button:hover:enabled, #updates button:hover, form input:hover {
  background-color: #2D5BA3;
  color: white;
}

form label:active,
form button:active:enabled,
#updates button:active,
#updates button.selected,
form input:active  {
  background-color: #0D3F8F;
  color: white;
}

ol img {
  margin-left: auto;
}

form li, .preview>p {
  background: #eee;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
  list-style-type: none;
  border: 1px solid black;
}

form p {
  line-height: 32px;
  padding-left: 10px;
  flex: 0 0 440px;
}

#viewer {
  display: inline-block;
  width: 1800px;
}

#viewer-nav {
  display: block;
  height: 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  left: 0;
  margin-top: 10px;
  width: 1000px;
}

#current-img-parent {
  display: block;
  pointer-events: none;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  width: 100px;
  white-space: nowrap;
}

#updates #download-csv {
  margin-top: 20px;
}

#log-updates-title {
  margin-top: 15px;
  display: none;
}

#download-log-updates {
  float: right;
  display: none;
}
#updates-toolbar {
  margin-top: 15px;
  width: 640px;
  margin-bottom: 5px;
}

#updates-by-image {
  padding-left: 15px;
  max-height: 175px;
  overflow-y: auto;
  width: 627px;
  border-radius: 3px;
  font-size: 15px;
}


#download-imgs {
  width: 220px;
}

#notice {
  padding-bottom: 15px;
}

#notice label {
  width: 600px;
  display: inline-block;
}

#notice label:hover {
  color: black;
}

.divider {
  width: 4.45px;
  height: auto;
  display: inline-block;
}

#help-pane {
  border: 2px solid rgb(106, 126, 116);
  box-sizing: content-box;
  display: inline-block;
  border-radius: 4px;
  width: 300px;
  height: 300px;
  vertical-align: top;
  padding: 30px;
  overflow: auto;
}

#help-pane img {
  max-height: 100%;
  max-width: 100%;
  padding: 10px 0 10px 0;
}

#help-pane-header {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

#embedded-img, #egg-count-editor {
  margin-top: 15px;
}

#egg-count-editor input, #egg-count-editor label {
  background-color: white;
  color: black;
}

#img-form {
  box-sizing: content-box;
  width: 600px;
  padding: 20px;
  background-color: rgb(201, 201, 201);
  margin-top: 15px;
  border: 1px solid black;
}

.img-upload {
  opacity: 0;
}


form label, form button, #updates button, form input {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

.mask-button-set {
  height: 38px;
  position: relative;
}
.mask-button-set span {
  position: absolute;
  top: 7px;
}

#mask-edit-instructions {
  margin-top: 0;
}

#mask-name-message-box {
  color: rgb(155, 18, 29);
  font-size: 10px;
}

#updates .left-hand-button {
  border-radius: 5px 0 0 5px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: -1px;
  float: right;
}

#updates .right-hand-button {
  border-radius: 0 5px 5px 0;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: 0px;
  float: right;
}

#updates .label {
  font-size: 12px;
  margin-right: 12px;
}

form ol {
  padding-left: 0;
}

#updates #submit-error-report {
  background-color: rgb(204, 87, 97);
  color: white;
  width: 240px;
}

#updates #submit-error-report:hover {
  background-color: rgb(206, 52, 65);
}

#updates #submit-error-report:active {
  background-color: rgb(155, 18, 29);
}

.modal-parent {
  width: 100%;
}

#mode-marker {
  color: rgb(206, 52, 65);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal.is-open {
  display: block;
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  line-height: 150%;
}

#modal-1-message {
  margin-top: 30px;
}

#modal-1-close {
  background: transparent;
  cursor: pointer;
  border: 0;
}

#modal-1-close::before {
  content: "\2715";
}

.close-button:hover {
  background: linear-gradient(#e49292 45%, #b63232 55%);
  box-shadow: 0 0 0.2em #e25b5b;
}

.close-button:active {
  background: linear-gradient(#e25b5b 45%, #630707 55%);
  box-shadow: 0 0 0.2em #e25b5b;
}

.close-button {
  margin-top: 20px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background: linear-gradient(#dd7d7d 45%, #c51717 55%);
  border: 1px solid black;
  border-radius: 7px;
  float: left;
}

.close-button-stroke1 {
  height: 20px;
  width: 2px;
  margin-left: 9px;
  margin-top: 1px;
  background-color: white;
  transform: rotate(45deg);
  Z-index: 1;
}

.close-button-stroke2 {
  height: 20px;
  width: 2px;
  margin-top: -1px;
  background-color: white;
  transform: rotate(90deg);
  Z-index: 2;
}